<html>
  <head>
    <title>Browser Tablet</title>
    <style> 
		canvas{
			touch-action: none;
		}
		img{
			touch-action:none;
		}
	</style>
	
	<script src="https://cdn.socket.io/3.1.1/socket.io.js"></script>

	<script type='text/javascript'>
	
	const socket = io();
	function debug(x, y) {
		document.getElementById("debuginfo").innerHTML = x + " " + y;
	} 
	
	function init(){
		let img = document.getElementById("stream");
		let canvas = document.getElementById("mycanvas");
		let ctx = canvas.getContext("2d");
		ctx.strokeStyle = ("white");
		ctx.fillStyle = ("black");
		canvas.addEventListener("pointermove", pointerMoveEvent, false);
		canvas.addEventListener("pointerdown", pointerDownEvent, false);
		canvas.addEventListener("pointerup", pointerUpEvent, false);
	}

	function pointerMoveEvent(e){
		debug(e.pageX, e.pageY);
		socket.emit('mouseEvent', e.pageX, e.pageY, e.pressure); 
	}

	function pointerDownEvent(e){
		socket.emit('pointerDown');
	}

	function pointerDownEvent(e){
			socket.emit('pointerUp');
		}
	
</script>

  </head>
  <body onload="init()">
  
	<div id="container" style="position:relative;">
		<div id="div1" style="position:absolute; top:0; left:0;">
			<img id="stream" src="{{ url_for('video_feed') }}"/>
		</div>
		<div id="div2" >
			<canvas id="mycanvas" width="1920" height="1080" style="border:1px solid black"></canvas>
		</div>
	</div>
    
    <h1 id="debuginfo" style="position:relative;"></h1>
    
  </body>
</html>
